@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@font-face {
	font-family: Starjedi;
	src: url("../fonts/starjedi/Starjedi.ttf");
}

#index {
	font-family: Arial;
    /*font-family: Germania-One, Helvetica, Arial, cursive, sans-serif;*/
	color: #3C3C3C;
    background-color: #E4E1D9;
    background-size: cover;
}


.introduction {
	font-size: 24px;
	font-family: 'Raleway';
	padding: 50px 50px;
    display: inline-block;
    max-width: 50%;
	text-align: left;
	
}

.first_pic {
	float: right;
	max-width: 20%;
	overflow: hidden;
	display: inline-block;
	display: flex;
	padding-right: 10%;
}

.hello {
	font-size: 32px;
	font-family: Starjedi;
	letter-spacing: 3px;
	padding: 10px 50px;
	color: #3D4360;
	
}

.side_header {
	font-size: 24px;
	font-family: Starjedi;
	letter-spacing: 3px;
	padding: 25px 50px;
	color:#3D4360;
	
}

.plain_text {
	font-size: 18px;
	padding: 0 50px;
	font-family: 'Raleway';
	margin-bottom: 50px;

}

li {
	margin-bottom: 20px;
	font-weight: 500;
}
.skill_list {
	list-style-type: none;
	margin-bottom: 25px;
}

.skills {
	display: -webkit-box;
    display: -ms-flexbox;

    -ms-flex-pack: justify;
	justify-content: space-between;
	width: 20%;
	padding: 0 0px;
	
}

.list_header {
	font-weight: 800;
	text-transform: uppercase;
}

.project_text {
	margin-bottom: 50px;
	display: block;
}
.showreel {
	display: inline;
	margin-left: 10%;
	margin-bottom: 50px;
}
.project {
	margin-left: 10%;
	margin-bottom: 50px;
	display: flex;
}
.footer {
	font-size: 14px;
	padding: 0 10%;
	font-family: 'Raleway';
	letter-spacing: 3px;
	margin-bottom: 20px;
	display: flex;
}

.link {
	text-decoration: underline;
	color: #3D4360;
}